/* CSS Document */
* {
    box-sizing: border-box; 
  }
  
  h1{
      text-align: center;
      font-size: 46px;
  }
  
  h2{
      text-align: center;
  }
  
  p{
      font-size:18px;
  }
  
  .fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
  }
  
  .carousel {
    width: relative;
    height: 500px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .carousel:hover .controls {
      opacity: 1; 
  }
  
  .carousel .controls {
      opacity: 0;
      display: flex;
      position: absolute;
      top: 50%;
      left: 0;
      justify-content: space-between;
      width: 100%;
      z-index: 99999;
      transition: all ease 0.5s; 
  }
  
  .carousel .controls .control {
      margin: 0 5px;
      display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        opacity: .5;
        transition: ease .3s;
        cursor: pointer; }
        .carousel .controls .control:hover {
          opacity: 1; }
    .carousel .slides {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      width: 100%;
      transition: 1s ease-in-out all; }
      .carousel .slides .slide {
        min-width: 100%;
        min-height: 250px;
        height: auto; }
  
  @keyframes fade-in {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px); }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px); }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px); } }
  .logo {
    height: 15em;
    width: 20em;
    padding-top: 10px;
    padding-top: 55px;
    padding-right: 30px;
    position: relative; }
  
  html {
    height: 100%;
    font-family:Montserrat, Arial, sans-serif;
    box-sizing: border-box; }
  
  
  body {
    background-color:#FFFFFF;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500; 
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Sets the flex container to vertical column layout. */
    min-height: 100vh;
    /* Body takes up full height of viewport. */
    box-sizing: inherit;
    font-weight: 500;
    overflow-x: hidden;
    color:Black; /*CONTROLS OVERALL TEXT COLOR */
    /* Hide horizontal scrollbar */ }
  
  header {
    height:200px; 
    padding-bottom: 12px;
    border-bottom: 15px solid rgb(87, 122, 155);
    display: flex;
    position: relative;
    width: 100%;
    background-color:rgb(52, 81, 108);
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  
  
  
  .myNav {
    align-items: center;
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: row; }
  
  nav {
      padding-top:78px;
      
    }
  
  .navList {
    text-align: center;
    font-size: 1.5em;
    padding: 0.1em;
    margin: 2em;
    list-style-type: none;
    flex: auto;
    width: 100%; }
  
  .navList a {
    text-decoration: none;
    color: darkred; }
  
  .navList a:hover {
    color: darkred; }
  
  main {
    flex: 70%;
    color: rgb(47, 50, 53); /*font color */
    background-color:white;
  }
  
  form input, form label, form a {
    padding: 0.5em;
}

.section-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.formassets {
    display: flex;
    flex-direction: row!important;
}

.left, .right {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.section-signup a {
    color: #007FB0;
    text-decoration: none;
}

.section-signup a:hover {
    color: #0099d2;
}

#signupbutton {
    background-color: #0099D2;
    color: #FFFFFF; 
    border: none;
    padding: 0.6em;
}

#signupbutton:hover {
    background-color: #007FB0;
}

  footer {
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Push the footer to the bottom */
    background: #34516C;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: center;
    color: white; }
  
  .main::after {
    content: "";
    display: table;
    clear: both; }
  
  .wrapper {
    align-content: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 40px;
    margin-bottom: 2%; }
  
  .wrapperOpendays {
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 2%; }
  
  .FooterCol-1 {
    width: 500px;
    padding-right: 10%; }
  
  .FooterCol-2 {
    width: 500px; }
  
  .FooterCol-3 {
    width: 500px;
    padding-left: 10%;
    height: auto; }
  
  /* Hamburger menu styles */
  .menu-toggle {
    display: none;
    /* Initially hide hamburger menu icon */
    cursor: pointer; }
  
  .myNav { /* NAV FOR HAMBRUGER */
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; }
  
  .navList {
    text-align: center;
    font-size: 1.2em;
    padding: 0.1em;
    margin: 0.8em; /*controls block size */
    list-style-type: none;
    flex: auto;
    width: 100%; }
  
  .myNav.active .navList {
    display: block;
    opacity: 1;
    /* Display nav items when active */ }
  
  .navList a {
    text-decoration: none;
    color:white;
    padding-left:10px;
  }
  
  .navList a:hover {
    color: rgb(189, 23, 33); }
  
  /* Media queries */
  @media only screen and (max-width: 873px) {
      .logo{
          display: none;
      }
      header{
          align-content: center;
          text-align: center;
          padding:5px;
          padding-left:50px;
          padding-right:50px;
      }
      h1{
          font-size: 24px;
      }
      p{
          font-size: 15px;
      }
      .wrapper{
          margin-top:10px;
          margin-left:20px;
          margin-right:20px;
      }
      .carousel{
          height: 250px;
          width: 100%;
      }
      .wrapperOpendays{
          margin-left:20px;
          margin-right:20px;
      }
      .wrapperOpendays p{
          text-align: left !important;
      }
      
      Footer a{
          font-size: 10px;
      }
      
      Footer h3{
          font-size: 15px;
      }
      
      Footer p{
          font-size: 10px;
      }
      
      Footer{
          padding-top:0;
          padding-bottom:0;
      }
      Header{
          padding-top: 0px;
          padding-bottom:15px;
      }
      Header h2{
          padding-top: 0px;
          padding-bottom: 0px;
          margin-top: 0px;
      }
      .nav{
          padding-top:0px !important;
          pading-bottom:0px !important;
      }
      
      
  }
  
  /* Media queries */
  @media only screen and (max-width: 1335px) {
    .navList {
      display: none;
      /* Hide text navigation items */ }
      
      hr{
          display: none;
      }
  
  .myNav {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Smooth fade-in with a delay */
      flex-direction: column;
      position: absolute;
      top: 170px; 
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 2;
  }
  
  .myNav.active {
      display: flex;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-in-out, visibility 0s; /* No delay when visible */
  }
  
    .myNav li {
      text-align: left;
  }
      
    .myNav a {
      color:rgb(4, 126, 175);
  }
      
  /* Hamburger menu styles */
  .menu-toggle {
      display: block;
      z-index: 3;
      cursor: pointer;
      width: 30px;  
      height: 24px; 
      transition: transform 0.3s ease-in-out; /* Smooth rotation for hamburger */
  }
  
  .menu-toggle span {
      display: block;
      width: 100%;   
      height: 3px;   /* Thickness of lines */
      background-color: #fff; /* Color of the lines */
      margin: 6px 0; /* Spacing between lines */
  }
  
  /* Rotate the entire hamburger icon */
  .menu-toggle.rotate {
      transform: rotateZ(90deg);
  }
      
  /* Rotate the entire hamburger icon */
  .menu-toggle.rotate span {
      background-color:rgba(121,214,253,1.00);
  }
  
  
  
  }
  
  
  
  